@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: hessian;
    src: url(../fonts/Hessian.otf);
}

:root {
    --texto1: "Roboto", sans-serif;
    --texto2: "Playfair Display", serif;
    --texto3: "Bebas Neue", sans-serif;
    --texto_logo: "hessian";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Inicia parte hero*/

.hero {
    background-image: url(../img/fondo-hero3.jpg);
    background-position: center center;
}

.hero__header {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
    padding-bottom: 1;
    flex: 1;

    .hero__nav-izquierdo {
        width: 100px;

        .logo {
            width: 100%;
            object-fit: cover;
        }

        & {
            @media screen and (max-width: 500px) {
                width: 80px;
            }
        }
    }

    .hero__nav-derecho {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .5rem;

        .contacto {
            font-family: var(--texto1);
            font-weight: 800;
            font-size: 30px;
            color: aliceblue;
            margin-top: 10px;
            margin-bottom: 5px;
            padding-right: 10px;

            .bi-whatsapp {
                font-size: 25px;
                color: #25D366;
            }
        }

        .hero__menu {
            list-style: none;
            font-family: var(--texto3);
            font-weight: 300;
            font-size: 20px;
            color: blanchedalmond;

            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            letter-spacing: 2px;

            .bi {
                margin-right: 5px;
            }
        }
    }
}

.abrir__menu,
.cerrar__menu {
    color: antiquewhite;
    font-size: 35px;
    display: none;
    cursor: pointer;
    padding-right: 10px;
}

.hero__main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;

    .hero__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;

        h2 {
            text-align: center;
            font-size: clamp(23px, 10vw, 130px);
            color: aliceblue;
            font-family: var(--texto_logo);
            font-weight: 200;
            text-shadow: 5px 5px 3px red;
        }

        h4 {
            margin: 0 auto;
            color: #ffffff;
            font-family: var(--texto_logo);
            font-weight: 300;
            font-size: clamp(20px, 3vw, 90px);
            border: 2px dashed red;
            width: max-content;
            padding: 0.6rem;
        }
    }

    .hero__img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: clamp(250px, 40vw, 500px);
            object-fit: cover;
        }
    }

    & {
        @media screen and (max-width: 500px) {
            flex-direction: column;
        }
    }
}

.menu__link {
    text-decoration: none;
    color: antiquewhite;
    border-radius: 10px;
    display: block;
    padding: 10px;
    transition: .5s;

    &:hover {
        background-color: #b40505;
    }
}

/* finaliza parte hero o encabezado */

/* Inicia Grid */

.grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
        "item1 item2"
        "item1 item3";
    gap: 2rem;
}

.text__box--title {
    font-size: 80px;
}

.text__box--parrafo {
    font-size: 23px;
}

.grid__item {
    border-radius: 1rem;
    color: #ffffff;
    background-image: url(../img/wmremove-transformed.jpeg);
    background-size: cover;
    background-position: center center;
    padding: 1rem;
    box-shadow: -10px 10px 10px black;
}

.grid__item h5,
h4 {
    padding: 10px;
    font-family: var(--texto2);
    font-weight: 300;
}

.grid__item h5 {
    font-size: 1.1rem;
    text-align: right;
}


.grid__item h4 {
    font-size: 1.3rem;
}

.grid__item1 {
    grid-area: item1;
}

.grid__item2 {
    grid-area: item2;
}

.grid__item3 {
    grid-area: item3;
}

/******* Finaliza Grid***********/

/******* Inicia tarjetitas***********/
.rodadas {
    scroll-margin-top: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

    .rodadas__titulo {
        text-align: center;
        font-size: 50px;
        font-family: var(--texto_logo);
        color: #b40505;
        padding-top: 10px;
    }

    .contenedor__tarjetas-rodadas {
        padding-block: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .tarjeta__rodadas {
            width: auto;
            height: 400px;
            max-width: 300px;
            background-color: #000000;
            border-radius: 10px;
            color: wheat;
            text-align: center;
            padding: 15px;
            margin-top: 25px;
            display: flex;
            flex-direction: column ;
            justify-content: space-between;
            align-items: center;
        }

        .tarjeta__img {
            max-width: 250px;
            object-fit:contain;
        }
    }
}



/******* Finaliza tarjetitas***********/


@media screen and (max-width: 700px) {

    .hero__img {
        padding-block: 1rem;
    }

    .grid {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr;
        grid-template-areas:
            "item1 item1"
            "item3 item2"
        ;
        gap: 2rem;
    }

    .abrir__menu {
        display: block;
    }

    .navegador {
        display: none;
    }

    .hero__nav .logo {
        width: 80px;
    }

    .navegador {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #000000;
        padding: 2rem;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }

    .navegador.visible {
        opacity: 1;
        visibility: visible;
        transition: all .5s;
    }

    .cerrar__menu {
        display: block;
    }

}

@media screen and (max-width: 500px) {
    .hero__navderecho .bi-whatsapp {
        font-size: 1.5rem;
        color: #25D366;
    }

    .hero__menu {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3";
        gap: 2rem;
    }

    .text__box--title {
        font-size: 50px;
    }

    .text__box--parrafo {
        font-size: 20px;
        line-height: 25px;
    }

}